{% extends 'layout.html' %}

{% block body %}

<script language="JavaScript" type="text/javascript" src=" {{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script>
function makerequest() {
    $.ajax({
        url: '/volume',
        success: function(response) {
            document.getElementById("a").setAttribute('value', response);
            document.getElementById("c").setAttribute('value', response);
	    setTimeout(makerequest, 100);
        }
    });
}

  window.onload = function(){
  makerequest();
}

</script>

<div id="indexContent">
	<p align="center"><a href="/"><img src="/static/gdis.png"></a></p>
        <p align="center"><label>&nbsp;</label></p>

        <table align="center"><tr><td>
        <form action="/input" method="post">
            <select class="select" name="input" onChange="this.form.submit();">
                <option value="" disabled selected >Input {{ input }}</option>
                <option value="S1">SPDIF-1</option>
                <option value="S2">SPDIF-2</option>
            </select>
        </form>
        </td><td>
        <form action="/filter" method="post" >
           <select class="select" name="filter" onChange="this.form.submit();">
                <option value="" disabled selected >Filter {{ filter }}</option>
                <option value="nos">N.O.S</option>
                <option value="slow">Slow Rolloff</option>
                <option value="fast">Fast Rolloff</option>
                <option value="min">Minimal Phase</option>
            </select>
        </form>
        </td></tr></table>

        <table align="center"><tr><td>
        <form action="/test" method="post" >
           <select class="select" name="test" onChange="this.form.submit();">
                <option value="" disabled selected >Test</option>
                <option value="net">Network Test</option>
                <option value="sound">Sound Check</option>
            </select>
        </form>
        </td></tr></table>

            <p align="center"><label>&nbsp;</label></p>
         <form method="POST" action="volume2">
            <input class="number" style="background-color:#000000;color:#ffffcc;width:110px" id="c" name="c" type="number" value='{{ vol }}' min="0" max="99" placeholder='{{ vol }}' onChange="this.form.submit();">
         </form>
         <p align="center"><label>&nbsp;</label></p>
         <form method="POST" action="volume">
            <p align="center"><input style="width:250px" value='{{ vol }}' type="range" id="a" name="a" min="0" max="100" oninput="c.value=a.value" onChange="this.form.submit();">
         </form>

        <p align="center"><label>&nbsp;</label></p>
        <p align="center"><a href="{{ url_for('prev') }}"><button class="button" style="height:50px;width:50px"><<</button></a>
         &nbsp; <a href="{{ url_for('play') }}"><button class="button" style="height:50px;width:50px">></button></a>
         &nbsp; <a href="{{ url_for('stop') }}"><button class="button" style="height:50px;width:50px">&#9632;</button></a>
         &nbsp; <a href="{{ url_for('next') }}"><button class="button" style="height:50px;width:50px">>></button></a></p>

        <p align="center"><label>&nbsp;</label></p>
        <p align="center"><a class="manualSSIDEntry" href="{{ url_for('wifi') }}">WiFi Setup</a></p>
        <p align="center"><label>&nbsp;</label></p>
        <p align="center"><a href="{{ url_for('power') }}"><img src="/static/power.png"></img></a></p>
    </form>
  </div>
{% endblock %}
