{% extends 'layout.html' %}

{% block body %}
  <div id="mainContent">
    <p align="center"><a href="/"><img src="/static/gdis.png"></a></p>
    <p align="center"><label>&nbsp;</label></p>
    <p align="center"><label>&nbsp;</label></p>

    <p align="center"><form action="{{ url_for('save_credentials') }}" method=post>
      <p align="center"><label for="menu">Select your WiFi network</label></p>
         <select id="ssid" name="ssid", class="wifiNetworkInputs">
            {% for ssid in wifi_ap_array %}
              <option class="wifiNetworkInputs" value='{{ ssid }}'>{{ ssid }}</option>
            {% endfor %}
         </select>
      <p align="center"><label>&nbsp;</label></p>

      <p align="center"><label for="wifi_key">Type your Wifi password</label></p>
      <p align="center"><input type="password" name="wifi_key" class="wifiNetworkInputs"></p>
      <p align="center"><label>&nbsp;</label></p>
      <p align="center"><input type="submit", class="button" style="height:30px;width:150px"></p>
    </form></p>

    <p align="center"><label>&nbsp;</label></p>
   <p align="center"><a class="manualSSIDEntry" href="{{ url_for('manual_ssid_entry') }}">manual SSID entry</a></p>
  </div>
{% endblock %}
